name: CI
on: [push]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - uses: actions/setup-node@v6
      with:
        node-version-file: ./es/package.json
        cache: 'npm'
        cache-dependency-path: './es/package-lock.json'
    - run: make lint
    - run: make check-generate
    - run: make test
    - run: make es-test
