name: Release
on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: git fetch --force --tags
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        token: ${{ secrets.BSR_TOKEN }}
        format: false
        lint: false
        breaking: false
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        distribution: goreleaser
        version: "~> v2"
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
