name: Release
on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: git fetch --force --tags
    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        cache: true
    - uses: actions/setup-node@v4
      with:
        node-version-file: ./es/package.json
        cache: 'npm'
        cache-dependency-path: './es/package-lock.json'
        registry-url: 'https://registry.npmjs.org'
    - uses: bufbuild/buf-setup-action@1158f4fa81bc02e1ff62abcca6d516c9e24c77da # v1.27.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: bufbuild/buf-push-action@a654ff18effe4641ebea4a4ce242c49800728459 # v1.2.0
      with:
        buf_token: ${{ secrets.BSR_TOKEN }}
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@3fa32b8bb5620a2c1afe798654bbad59f9da4906 # v4.4.0
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up git user
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
    - name: Build ES packages
      run: make es
    - name: Publish to npm
      run: ./scripts/release.sh
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        GH_TOKEN: ${{ github.token }}
      working-directory: ./es
